<!-- Locations template part -->

      <div class="row-fluid" ng-controller="locationsController">
        <div class="col-md-2" id="location-nav">
      
          <table class='table' ng-if="loc">
            <thead>
              <tr><th><a ui-sref="locations">Locations</a></th></tr>
            </thead>

            <tbody>
                <tr ng-repeat="location in loc">
                  <td>
                    <a ui-sref="locations.dashboard({ locationName:location.id })"> {{location.name}} </a> <small class='muted'>for {{location.client}}</small>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>

        <div ui-view class="col-md-10" >
        <div class="row">
        <div class="col-md-10" >
        <h3>    Please Select a location</h3>
        

        <ui-gmap-google-map center='map.center' zoom='map.zoom' class="largeMap">

        <ui-gmap-markers
            models='loc'
            idKey='loc.id'
            coords="'geoLocation'"
            labelContent="name"
            labelAnchor="22 0"
            labelClass="marker-labels"

            >
          </ui-gmap-markers>

        </ui-gmap-google-map>

        </div>
        </div>


      </div>





<!--

            doCluster=""
            clusterOptions=''
            fit=""

            labelContent='{expression}'

            
            icon="'{string}'"
            options="'{string}'"
            labelContent="'{string}'"
            labelAnchor="'{string}'"
            labelClass="'{string}'"
            click="'{string or expression to a function}'"
            modelsbyref="{expression}"

            events="{expression}"

            control='{expression}'
            chunk='{expression}'
            cleanchunk='{expression}'
            doRebuildAll="{string or object}"

            --> 