<!-- Location Dashboard template part -->
<div class="col-md-10 dashboard-main" ng-controller='dashboardController'>



<div class="row">
	<div class="col-md-6"><h3>{{location.name}}</h3>
		<p>Address: {{location.address}}</p>
		<p>Type: {{location.locationType}}</p>
		<p>Site ID: {{location.SiteID}}</p>
		<p>Site Number: {{location.SiteNumber}}</p>
		<p>Dimensions: {{location.SiteDimensions}}</p>
		<br/>

		<div  ng-controller="camerasController"><h4>Cameras</h4>

			<table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>DNS Name</th>
                  <th>Location</th>
                  <th>View Id</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody>
              
                <tr ng-repeat="camera in Cameras">
                  <td>{{camera.name}}</td>
                  <td>{{camera.dnsName}}</td>
                  <td>{{camera.location}}</td>                      
                  <td>{{camera.viewId}}</td>
                  <td><a href="{{camera.loginURL}}"  target="_blank">Login</a></td>
                </tr>

              </tbody>
            </table>

           <div ng-controller="reportsController">
			<h4>Tableau Reports</h4>
			<h5 ng-if="reports.length == 0" >No reports for this location</h5>


			<ul ng-if="reports.length != 0" >
				<li ng-repeat="report in reports">
					<a href="{{report.link}}" target="_blank">{{report.name}}</a>
				</li>				
			</ul>
		</div>
		</div>

		</div>

	<div class="col-md-6">
        <ui-gmap-google-map center='mapcenter' zoom='15' class="smallMap">

        <ui-gmap-marker

            idKey='location.id'
            coords='location.geoLocation'
            click="onClick()"

            >
            <ui-gmap-window
		        closeClick='closeClick()'
		        options='windowOptions'
		        >
			</ui-gmap-window>
          </ui-gmap-marker>

        </ui-gmap-google-map>
	</div>

</div>

		<div ui-view>
		<div class="row">

		<div ng-controller="countersController" >
		<div class="col-md-6" id="laserCounts" > <h3>Car Counts <a ui-sref="locations.dashboard.laserCountDetail"><small>(More Detail)</small></a></h3>

			<nvd3-line-chart
		    	data="chartData"
		        id="laserCountChart"
		        xAxisTickFormat="xAxisTickFormat_Time_Format()"
		        yAxisTickFormat="yAxisTickFormatFunction()"
		        objectequality="true"
		        width="550"
		        height="350"
		        showXAxis="true"
		        showYAxis="true"
		        interactive="true"
		        useInteractiveGuideLine="true"
		        tooltips="true"
		        showLegend="true"
		        >
        			<svg></svg>
    		</nvd3-line-chart>

<!--
			<table class="table">
              <thead>
                <tr>
                  <th>Period Start Time</th>
                  <th>Period End Time</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody>
              
                <tr ng-repeat="count in LaserCounts.results">
                  <td><span am-time-ago="count.period_start"></span></td>
                  <td>{{count.period_end}}</td>
                  <td>{{count.count_total}}</td>
                </tr>

            </tbody>
          </table>

	-->

		</div>
		</div>

		

		<div ng-controller="detectionsController">
		<div class="col-md-6" ng-if="Detections.length != 0" >
		<h3>Detections <a ui-sref="locations.dashboard.detectionsDetail"><small>(More Detail)</small></a></h3>

					<img src="{{image}}" class="img-responsive">

		
			<table class="table">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Alert Id</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Confidence</th>
                  <th>Proc Seconds</th>
                  <th>Image</th>
                 
                </tr>
              </thead>
              <tbody>
              
                <tr ng-repeat="detection in Detections">
                  <td>{{detection.ivaAlert.kfTime}}</td>
                  <td>{{detection.ivaAlert.alertId}}</td>
                  <td>{{detection.make}}</td>
                  <td>{{detection.carModel}}</td>
                  <td>{{detection.confidence}}</td>
                  <td>{{detection.processTimeSeconds}}</td>
                  <td><button ng-click='getImageSrc(detection.ivaAlert.alertImage)'>Show</button></td>

                </tr>

            </tbody>
          </table>


		</div>
		</div>


<!--
		<div ng-controller="alertsController">
		<div class="col-md-5" ng-if="Alerts.results.length != 0" >
		<h3>Alerts</h3>

					<img src="{{image}}">

		
			<table class="table">
              <thead>
                <tr>
                  <th>View Id</th>
                  <th>Alert Id</th>
                  <th>Alert Time</th>
                  <th>Alert Image</th>
                  <th>Video Frame</th>
                  <th>Cropped Image</th>
                 
                </tr>
              </thead>
              <tbody>
              
                <tr ng-repeat="alert in Alerts.results">
                  <td>{{alert.viewId}}</td>
                  <td>{{alert.alertId}}</td>
                  <td>{{alert.kfTime}}</td>
                  <td> <button ng-click='getImageSrc(alert.alertImage)'>Show</button></td>
                  <td><button ng-click='getImageSrc(alert.VideoFrame)'>Show</button></td>
                  <td><button ng-click='getImageSrc(alert.CroppedImage)'>Show</button></td>

                </tr>

            </tbody>
          </table>




		</div>
		</div>

 -->



		

</div>
<!--
<div class="row">
	<div ng-controller="ivacountController">
		<div class="col-md-5"  ng-if="IVACounts.length != 0"> <h3>Vehcio Counts</h3>

			<nvd3-line-chart
		    	data="IVAchartData"
		        id="IVACountChart"
		        xAxisTickFormat="xAxisTickFormat_Time_Format()"
		        yAxisTickFormat="yAxisTickFormatFunction()"
		        width="550"
		        height="350"
		        showXAxis="true"
		        showYAxis="true"
		        interactive="true"
		        useInteractiveGuideLine="true"
		        tooltips="true"

		        >
        			<svg></svg>
    		</nvd3-line-chart>

			<table class="table">
              <thead>
                <tr>
                  <th>Period Start Time</th>
                  <th>Period End Time</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody>
              
                <tr ng-repeat="count in IVACounts">
                  <td>{{count.startTime}}</td>
                  <td>{{count.endTime}}</td>
                  <td>{{count.totalCars}}</td>
                </tr>

            </tbody>
          </table>
		</div>
	</div>

	<div class="col-md-5">
			<div class='tableauPlaceholder' style='width: 1004px; height: 836px;'><object class='tableauViz' width='1004' height='836' style='display:none;'><param name='host_url' value='http%3A%2F%2Fdigexpdba02.digitalexperiences.com.au%3A8001%2F' /> <param name='site_root' value='' /><param name='name' value='Dashboards_tblFact&#47;Dashboard-CarsPerDay' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /></object></div>
	</div>


</div>
</div>
-->
</div>